[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
cibuildwheel = "==1.0.0"
twine = "*"
setuptools = "*"
wheel = "*"
pytest = "*"

[packages]
immutables = "*"

[requires]
python_version = "3.8"
