[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
immutables = "==0.11"
cibuildwheel = "==1.0.0"
twine = "*"
pytest = "*"
pytest-cov = "*"
codecov = "*"

[requires]
python_version = "3.8"
